body {
    margin: 0;
    /*
    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "headerArea"
        "mainArea"
        "foot";
    grid-gap: 0;
*/
}


div {
    text-align: center;
}

p {
    text-align: center;
}



header {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    grid-area: headerArea;
    background-color: gray;
    margin: 0;
    padding: 0;
}

#headSpace {
    grid-area: headSpace;
    width: 1062px;
    margin: 0 auto;

}


nav {
    grid-area: navContainer;
    margin: 0;
    padding: 0;
}

ul#navBar {
    list-style-type: none;
    /*removes the dots*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    grid-area: navBar;
    width: 1062px;


    margin: 0 auto;

}








li {
    width: 25%;
    float: left;
}

.topIcon {
    width: 10%;
}

.mainBar2 {
    width: 25%;
}

.mainBar1 {
    width: 12.5%;
}

.icons2 {
    width: 50%;
}

.icons1 {
    width: 60%;
}

.settings,
.messages {
    width: 10%;
}

li a {
    background-color: #111;
    display: block;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}

.leftLine {
    color: white;
    border-left-style: solid;
    padding: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #EA5045;
    color: white;
}

.blueLine {
    background-color: black;
    height: 10px;
    margin: 0;
    grid-area: blueLine;
}

.main1 {
    height: 3000px;
    width: 1062px;
    grid-area: mainArea;
    margin: 0 auto;
    position: relative;

    margin-top: 10%;
}


#mainDiv {
    width: 1062px;
    grid-area: mainDiv;
    background-color: white;
    margin: 0 auto;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-area: foot;
    background-color: lightgray;
}


/*MAIN PAGE----------------------------------------------------------------------------*/

.news {
    grid-area: news;

    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "newsImage newsText";
    grid-gap: 0;

    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gainsboro;
}

.newsImage {
    grid-area: newsImage;
    border-right-style: solid;
    border-width: 2px;
}

.newsText {
    grid-area: newsText;

    align-items: center;
    display: flex;
    justify-content: center;
}

#indexMainHeader {
    grid-area: indexMainHeader;

    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "todayHeader arrowBottom";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

#mainHeaderDiv {
    width: 95%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". indexMainHeader filter";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

#todayHeader {
    grid-area: todayHeader;
}

#filter {
    grid-area: filter;
    text-align: right;
}

/*-----------------------------------------------------------------------------------------*/


/*SCHEDULE PAGE----------------------------------------------------------------------------*/


.day {
    grid-area: day;

    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas:
        "arrowLeft dayText arrowRight";
    grid-gap: 0px;

    align-items: center;
    display: flex;
    justify-content: center;
}

#dayText {
    grid-area: dayText;
}

#arrowLeft {
    grid-area: arrowLeft;
    margin: 10px;
}

#arrowRight {
    grid-area: arrowRight;
    margin: 10px;
}

.schedule {
    grid-area: schedule;
}


/*-----------------------------------------------------------------------------------------*/

/*PROFILE PAGE----------------------------------------------------------------------------*/
#profileForm {
    width: 50%;
    font-size: 20px;
    line-height: 0px;
    text-align: left;
    margin: auto;

    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "emailP profile1"
        "numberP profile2";

    grid-row-gap: 20px;

}

#profileImage {
    width: 30%;
    border-radius: 50%;
}

input.profile1,
input.profile2 {
    width: auto;

    font-size: 15px;
}

#numberP {
    grid-area: numberP;
    text-align: left;
}

#emailP {
    grid-area: emailP;
    text-align: left;
}

.profile1 {
    grid-area: profile1;
}

.profile2 {
    grid-area: profile2;
}

#analytics {
    width: 70%;
    height: 10vh;
    text-align: center;
    background-color: #EA5045;
    color: white;
    margin: auto;

    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

/*-----------------------------------------------------------------------------------------*/

/*ANALYTICS PAGE----------------------------------------------------------------------------*/

.statImage {
    width: 30vw;
    grid-area: statImage;

    align-items: center;
    display: flex;
    justify-content: center;
}

.statText {
    grid-area: statText;

    text-align: left;

    font-size: 25px;

}

.pieStat {
    display: grid;
    grid-column: 3fr 1fr;
    grid-template-areas:
        "statImage statText";

    grid-row-gap: 0px;

    align-items: center;
    display: flex;
}

#graph1 {
    width: 90%;
}

.submission {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "subText subNumber";

    grid-row-gap: 0px;

    align-items: center;
    display: flex;
}

#submissions {
    width: 50%;
    margin: auto;

    line-height: 10px;
    font-size: 20px;

}

.subText {
    grid-area: subText;
}

.subNumber {
    grid-area: subNumber;
}

#number2 {
    color: green;
}

#number3 {
    color: red;
}

/*-----------------------------------------------------------------------------------------*/

/*MATERIAL PAGE----------------------------------------------------------------------------*/

.title1 {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "materialHeader arrowBottom";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
}

.title2 {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "arrowBottom materialHeader";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
}

#materialHeader {
    grid-area: materialHeader;
}

#arrowBottom {
    grid-area: arrowBottom;
    margin: 10px;
}

#submissionMat {
    width: 95%;
    background-color: black;
    color: white;

}

.Themes {
    width: 85%;
    height: 10vh;
    text-align: center;
    background-color: #EA5045;
    color: white;
    margin: auto;
    margin-bottom: 10px;

    font-size: 30px;
    font-weight: 50;

    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "themesText";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
}

.themesText {
    grid-area: themesText;
}

#highlight1,
#highlight2,
#highlight3,
#highlight4{
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

/*UPLOAD----------------------*/

#upload_plus {
    width: 40%;
}

.uploadText {
    grid-area: uploadText;
    margin: 0 auto;
    font-weight: 700;
}

.upload {
    width: 70%;
    height: 100px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10px;

    font-size: 50px;
    font-weight: 50;

    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "uploadText";
    grid-gap: 0px;

    align-items: center;
}

.cancelText {
    font-weight: bold;
    font-size: 30px;
    color: #EA5045;
}

.feedbackText {
    grid-area: feedbackText;
    width: 85%;

    text-align: left;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 10px;


    font-weight: 50;


}

.text {
    text-align: left;
    margin: 30px;
}

.comments {
    color: gray;
    ;
}

.Themesfeedback {
    grid-area: Themesfeedback;

    width: 85%;
    height: 10vh;
    text-align: center;
    background-color: #EA5045;
    color: white;
    margin: auto;

    font-size: 30px;
    font-weight: 50;

}

.container {
    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "Themesfeedback"
        "feedbackText";
    grid-gap: 0px;

    margin-bottom: 20px;
}


/*-----------------------------------------------------------------------------------------*/

@media all and (max-width:1062px) {

    .main1,
    ul#navBar,
    #headSpace,
    #mainDiv {
        width: 100%;
    }

}


@media all and (max-width:600px) {
    body {
        background-color: yellow;
    }
}
