body {
    margin: 0;
    /*
    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "headerArea"
        "mainArea"
        "foot";
    grid-gap: 0;
*/
}


div {
    text-align: center;
}

p,
a,
h1,
h2{
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
}

p:hover {
    cursor: default;
}



header {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    grid-area: headerArea;
    background-color: black;
    margin: 0;
    padding: 0;
}

#headSpace {
    grid-area: headSpace;
    width: 1080px;
    margin: 0 auto;

}


nav {
    grid-area: navContainer;
    margin: 0;
    padding: 0;
}

ul#navBar1,
ul#navBar2 {
    list-style-type: none;
    /*removes the dots*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    grid-area: navBar;
    width: 1080px;


    margin: 0 auto;

}

#sideBar {
    display: none;
}





li {
    float: left;
}

.topIcon {
    width: 10%;
}

.mainBar2 {
    width: 25%;
}

.mainBar1 {
    width: 12.5%;
}

.icons2 {
    width: 50%;
}

.icons1 {
    width: 60%;
}

.settings,
.messages {
    width: 10%;
}

li a {
    background-color: #111;
    display: block;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}

.leftLine {
    color: white;
    border-left-style: solid;
    padding: 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #EA5045;
    color: white;
}

.blueLine {
    background-color: black;
    height: 10px;
    margin: 0;
    grid-area: blueLine;
}

.main1 {
    height: auto;
    width: 1080px;
    grid-area: mainArea;
    margin: 0 auto;
    position: relative;

    margin-top: 10%;

    margin-bottom: 150px;
}


#mainDiv {
    width: 1080px;
    grid-area: mainDiv;
    background-color: white;
    margin: 0 auto;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-area: foot;
    background-color: lightgray;
}


/*MAIN PAGE----------------------------------------------------------------------------*/

.pinnedItems {
    margin: 30px;
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-rows: 70px 70px;
    grid-template-areas:
        "pinned1 pinned2"
        "pinned3 .";
    grid-gap: 10px;

    align-content: center;

}

#pinned1,
#pinned2,
#pinned3 {
    background-color: #EA5045;
    width: 90%;
    height: 100%;
    margin: auto;
    font-weight: 700;
    color: white;
    font-size: 20px;

}

#pinned1 {
    grid-area: pinned1;
}

#pinned2 {
    grid-area: pinned2;
}

#pinned3 {
    grid-area: pinned3;
}



.news {
    grid-area: news;

    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "newsImage newsText";
    grid-gap: 0;

    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gainsboro;
}

.newsImage {
    grid-area: newsImage;
    border-right-style: solid;
    border-width: 2px;
}

.newsText {
    grid-area: newsText;

    align-items: center;
    display: flex;
    justify-content: center;
}

#newsDrone {}

.droneNews {
    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "droneImage"
        "headliner"
        "droneText";
    grid-gap: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    width: 80%;
    margin: auto;
    font-size: 25px;
}

#headliner {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

.droneHeadline {
    grid-area: droneText;
    text-align: center;
    padding: 20px;
}

.droneImage {
    grid-area: droneImage;
    margin: auto;
    width: 100%;
}

.droneText {
    grid-area: droneText;
    text-align: left;
    padding: 10px;
}

#indexMainHeader {
    grid-area: indexMainHeader;

    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "todayHeader arrowBottom";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

#mainHeaderDiv {
    width: 95%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". indexMainHeader filter";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    text-align: center;
}

#todayHeader {
    grid-area: todayHeader;
}

#filter {
    grid-area: filter;
    text-align: right;
}

/*-----------------------------------------------------------------------------------------*/


/*SCHEDULE PAGE----------------------------------------------------------------------------*/


.day {
    grid-area: day;

    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas:
        "arrowLeft dayText arrowRight";
    grid-gap: 0px;

    align-items: center;
    display: flex;
    justify-content: center;
}

#dayText {
    grid-area: dayText;
}

#arrowLeft {
    grid-area: arrowLeft;
    margin: 10px;
}

#arrowRight {
    grid-area: arrowRight;
    margin: 10px;
}

.schedule {
    grid-area: schedule;
}


/*-----------------------------------------------------------------------------------------*/

/*PROFILE PAGE----------------------------------------------------------------------------*/
#profileForm {
    width: 50%;
    font-size: 20px;
    line-height: 0px;
    text-align: left;
    margin: auto;

    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "emailP profile1"
        "numberP profile2";

    grid-row-gap: 20px;

}

#profileImage {
    width: 30%;
    border-radius: 50%;
}

input.profile1,
input.profile2 {
    width: auto;

    font-size: 15px;
}

#numberP {
    grid-area: numberP;
    text-align: left;
}

#emailP {
    grid-area: emailP;
    text-align: left;
}

.profile1 {
    grid-area: profile1;
}

.profile2 {
    grid-area: profile2;
}

#analytics {
    width: 70%;
    height: 10vh;
    text-align: center;
    background-color: #EA5045;
    color: white;
    margin: auto;

    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

/*-----------------------------------------------------------------------------------------*/

/*ANALYTICS PAGE----------------------------------------------------------------------------*/

.statImage {
    width: 30vw;
    grid-area: statImage;

    align-items: center;
    display: flex;
    justify-content: center;
}

.statText {
    grid-area: statText;

    text-align: left;

    font-size: 25px;

}

.pieStat {
    display: grid;
    grid-column: 3fr 1fr;
    grid-template-areas:
        "statImage statText";

    grid-row-gap: 0px;

    align-items: center;
    display: flex;
}

#graph1 {
    width: 90%;
}

.submission {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "subText subNumber";

    grid-row-gap: 0px;

    align-items: center;
    display: flex;
}

#submissions {
    width: 70%;
    margin: auto;

    line-height: 10px;
    font-size: 20px;

    background-color: darkgray;
    padding: 20px;
    text-align: center;

    padding-left: 80px;

}

.subText {
    grid-area: subText;
}

.subNumber {
    grid-area: subNumber;
}

#number2 {
    color: green;
}

#number3 {
    color: red;
}

/*-----------------------------------------------------------------------------------------*/

/*MATERIAL PAGE----------------------------------------------------------------------------*/

.title1 {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "materialHeader arrowBottom";
    grid-gap: 20px;

    align-items: center;
    justify-content: center;

    margin-bottom: 35px;
}

.title2 {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas:
        "arrowBottom materialHeader";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
}

#materialHeader {
    grid-area: materialHeader;
}

#arrowBottom {
    grid-area: arrowBottom;
    margin: 10px;
    width: 30px;
}

#submissionMat {
    width: 95%;
    background-color: black;
    color: white;
    margin-bottom: 40px;

}

.Themes {
    width: 85%;
    height: 10vh;
    text-align: center;
    background-color: #EA5045;
    color: white;
    margin: auto;
    margin-bottom: 10px;

    font-size: 30px;
    font-weight: 50;

    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "themesText";
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
}

.themesText {
    grid-area: themesText;
}

#highlight1,
#highlight2,
#highlight3,
#highlight4 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.approved {
    color: green;
}

.notDelivered {
    color: red;
}

/*UPLOAD----------------------*/

#upload_plus {
    width: 40%;
}

.uploadText {
    grid-area: uploadText;
    margin: 0 auto;
    font-weight: 700;
}

.upload {
    width: 70%;
    height: 100px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10px;

    font-size: 50px;
    font-weight: 50;

    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "uploadText";
    grid-gap: 0px;

    align-items: center;
}

.cancelText {
    font-weight: bold;
    font-size: 30px;
    color: #EA5045;
}

.feedbackText {
    grid-area: feedbackText;
    width: 85%;

    text-align: left;
    background-color: lightgray;
    margin: auto;
    margin-bottom: 10px;


    font-weight: 50;


}

.text {
    text-align: left;
    margin: 30px;
}

.comments {
    color: gray;
    ;
}

.Themesfeedback {
    grid-area: Themesfeedback;

    width: 85%;
    height: 10vh;
    text-align: center;
    background-color: #EA5045;
    color: white;
    margin: auto;

    font-size: 30px;
    font-weight: 50;

}

.container {
    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "Themesfeedback"
        "feedbackText";
    grid-gap: 0px;

    margin-bottom: 20px;
}


/*-----------------------------------------------------------------------------------------*/

/*MESSAGES---------------------------------------------------------------------------*/

.message {
    width: 100%;
}

/*-----------------------------------------------------------------------------------------*/

#settingsHeader{

}

.Settings{
    width: 50%;
    height: 10vh;
    text-align: center;
    background-color: darkgray;
    margin: auto;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 500;

    display: grid;
    grid-column: 1fr;
    grid-template-areas:
        "settingsText";
    grid-gap: 0px;


}

.settingsText{
    grid-area: settingsText;
}





@media all and (max-width:1080px) {

    .main1,
    ul#navBar1,
    ul#navBar2,
    #headSpace,
    #mainDiv {
        width: 100%;
    }

}
@media (min-width:1080px) {

    body {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-areas:
            "AllHeader main1"
            "AllHeader allFooter";
        grid-gap: 0;


    }

    .main1 {
        grid-area: main1;

        display: block;
        margin-top: 10px;
        margin: auto;
        width: 100%;

    }

    .icons1 {
        width: 60px;
    }

    /*RESPONSIVE----------------------------------------------------------------------------*/

    #mainDiv{
        margin: auto;
        width: 90%;
    }


    /*------------------------------------------------------------------------------------------*/
    a {
        margin-top: 20px;
    }


    #navBar2,
    #navBar1 {
        display: none;
    }

    #sideBar {
        display: block;
        display: contents;

        margin-top: auto;
        margin-bottom: auto;

        position: absolute;
        top: 50%;
    }

    #sideBar a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 25px;


    }

    #sideBar a#letters:hover {
        background-color: #EA5045;
        animation: high 2s forwards;
        transform: scale(2) skewX(5deg) translateX(30px);
    }

    div {}

    header {
        grid-area: AllHeader;

        width: 150px;
        height: 100vh;
    }

    footer {
        grid-area: allFooter;
    }

}
